/* fonts */

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}
/* ---- */

body {
    background-color:rgb(49, 49, 49);
}

.nav-menu {
    font-family: "Metamorphous";
    text-align: center;
    font-size: 1rem;
    margin: 10px;
    color:rgb(216, 222, 255);
    text-shadow: 1px 2px 2px rgb(48, 57, 108);
}

:visited {
  color:rgb(189, 198, 255);
  text-shadow: 1px 2px 2px rgb(48, 57, 108);
}

h1 {
    font-family: "Sekuya";
    color: rgb(0, 23, 151);
    text-align: center;
    text-shadow: 1px 3px 3px rgb(11, 12, 35);
    font-size: 3rem;
    -webkit-text-stroke: .5px rgb(116, 104, 255);
    margin-top: 2px;
    margin-bottom: 5px;
}

#search-container {
    text-align: center;
}

/* RESULTS */
#results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 10px;
  padding: 15px;
  background-color: rgb(80, 80, 80);
  width: 90%;
  height: 80%;
  margin: auto;
  place-items: stretch;
}

.movie-card {
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  color: white;
  box-shadow:0 4px 4px rgb(80, 80, 80);
  box-sizing: border-box;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.movie-card h3 {
  font-size: 16px;
  margin: 10px 0;
  font-family: "Metamorphous";
}

.movie-card:hover {
  transform: sale(1);
  transition: 0.2s;
}

.hidden {
  display:none;
}

#tierlist {
  display: grid;
  grid-template-columns: 150px repeat(3, 1fr);
  gap: 20px;
  padding: 15px;
  background-color: rgb(80, 80, 80);
  width: 90%;
  margin: auto;
  overflow-y: scroll;
}